:root {
  --max-width: 1280px;
  --content-width: calc(var(--max-width) * 0.7);
  --padding: 16px;
  --leading-trim:calc((1em - 1ch) / 2); /* 文字の間隔を調整 */

  /* font */
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;

  /* color */
  --font-color: #888;
  --main-color: #cfcfcd;
  --sub-color: #b2c1c4;
  --bg-color: #caddde;
  --success-color: #078907;
  --error-color: #ff0000;

  /* Chevron */
  --icon-chevron-up: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="m4 16 8-8 8 8"/></svg>');
  --icon-chevron-right: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M8 4L16 12L8 20"/></svg>');
  --icon-chevron-down: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M4 8L12 16L20 8"/></svg>');
  --icon-chevron-left: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M16 4L8 12L16 20"/></svg>');
}

/* common */
body {
  width: var(--content-width);
  margin-inline: auto;
  color: var(--font-color);
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: var(--font-size-medium);
  padding: 8px 16px;
  border: 1px solid var(--font-color);
  border-radius: 4px;
}

.button {
  padding: 8px 24px;
  border: 1px solid var(--font-color);
  border-radius: calc(1px/0);
  background-color: #fff;
  cursor: pointer;
  /* gridレイアウト */
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  column-gap: 8px;
  align-items: center;

  &::before{
    content: '';
  }

  &::after{
    content: '';
    justify-self: end;
    mask-image: var(--icon-chevron-right);
    inline-size: 1em;
    aspect-ratio: 1;
    background:linear-gradient(currentColor 0 0), CanvasText; /* テキストの色を継承 */
  }
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--bg-color);
  padding-inline: var(--padding);
  z-index: 100;
  border-bottom: 1px solid var(--font-color);
}

.header__inner {
  width: var(--content-width);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  & > :last-child {
    justify-self: end; /* 最後のコンテンツは右端に配置 */
  }
}

.header__title {
}

.header__nav ul {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
}

.header__btn {
  padding: 8px 16px;
  border: 1px solid #000;
  border-radius: 4px;
  background-color: #fff;
}

/* main */
main {
  display: grid;
}

.login__content{
  margin-inline: auto;
  margin-top: 100px;
}

/* form */
.form {
  margin-top: 24px;
}

.form__group {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 24px;
  align-items: center; /* 縦方向の中央揃え */
}

.form__group-title {
  font-size: var(--font-size-medium);
}

.form__group-content {

}

.form__input--text {
  width: max-content;
}



.form__button {
  margin-top: 24px;
  display: grid;
}

.form__button-submit {
}

.register__link {
  margin-top: 24px;
  display: grid;
}

.register__button-submit {
  justify-self: end;
}




/* footer */
.footer {
  margin-block: 24px;
}
.footer__inner {
  text-align: center;
}
